@font-face {
  font-family: 'EuropeExtNormal';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/EuropeExtNormal.woff2') format('woff2'), url('./fonts/EuropeExtNormal.woff') format('woff');
}

@font-face {
  font-family: 'EuropeExtBold';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/EuropeExtBold.woff2') format('woff2'),  url('./fonts/EuropeExtBold.woff') format('woff');
}