
/*Slick slider settings */

.parent-root {
  width: 100%;
  margin: auto;
  font-family: Arial, sans-serif;
  z-index: 10;
  padding-top: 6.5%;
}

.Slider-Section {
  margin: auto;
  width: 51.042%;
  height: auto;
  overflow: hidden;
  z-index: 10;
}

  .slick-prev { left: 0; }
  .slick-next { right: 0; }
  
.slick-prev, .slick-next {
    background-color: hsla(180, 1%, 76%, 0);
    top: 45%;
    width: 5%;
    height: 15%;
    z-index: 3;
    transition: all 0.3s ease-out 0s;
}

/* .slick-prev:hover, .slick-next:hover {
      background-color: hsla(101, 100%, 43%, 0);
} */
 
.slick-prev:hover:before, .slick-next:hover:before {
        color: hsla(0, 0%, 100%, 1);
}

.slick-prev:before, .slick-next:before {
  font-size: 38px;
  color: hsla(0, 0%, 100%, 0.5);
  transition: all 0.3s ease-out;
}

.slick-dotted .slick-slider {
  margin-bottom: 10px;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px;
    list-style: none;
    text-align: left;
    z-index: 7;
}

 .slide-markup {
   position: relative;
}

.comment-wrapper {
   background-color: hsla(287, 77%, 0%, 0.4);
   color: white;
   height: 28%;
   width: 78.6%;
   z-index: 4;
   position: absolute;
   bottom: 35px;
   font-size: 30px;
   padding-left: 25px;
   padding-top: 20px;
   padding-bottom: 11px;
   font-family: EuropeExtNormal, sans-serif;
} 

.comments-subline {
  padding-top: 15px;
  font-size: 24px;
  font-family: EuropeExtBold, sans-serif;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    background-color: white;
    color: white;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 12px;
    content: '';
    text-align: center;
    opacity: 0;
    color: black;
    background-color: green;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}